<% if profile_owner?(@profile) %>
  <br>
  <div class="sidebar clearfix">
    <% if current_user.new_invitations.any? %>
      <div id="invitations-box" class="well">
        <h3>New Invitations</h3>
        <%= render partial: "invitations/invitation",
                   collection: current_user.new_invitations,
                   :as => :invitation %>
      </div>
    <% end %>

    <div id="organized-box" class="well">
      <h3>Exchanges Organized</h3>
      <%= render current_user.organized_exchanges %>
    </div>

    <div id="participating-box" class="well">
      <h3>Exchanges Joined</h3>
      <%= render current_user.participations %>
    </div>
  </div>

  <div>
    <h1>Hi <%= @profile.fname %>!</h1>
  </div>

  <br>
  <%= link_to "Create New Exchange!", new_exchange_path, 
      :class => "btn btn-primary btn-large" %>

  <div>
    <% if current_user.gift_ideas.any? %>
    <h3>Your Gift Ideas</h3>
    <div class="masonry-container">
      <%= render partial: "gift_ideas/gift_idea", 
                 collection: current_user.gift_ideas %>
    <% end %>
  </div>

  <%# link_to "All Exchanges",  exchanges_path%>

<% else %>
  Not authorized to view someone else's profile
<% end %>

<script type="text/javascript">

    var $container = $('.masonry-container');

    $container.imagesLoaded(function() {
      $container.masonry({
        itemSelector: '.gift-brick:visible',
        isAnimated: true,
      });
    });

</script>

<!-- After accepting an invite (e.g creating a membership) I will have an after_create callback on the membership look up which invitation that membership is associated with and update accepted to true

On declining an invite I will have a json request to update the invitation accepted to false. I will have an after_update callback on the invitation to mark the associated notification. 

Also have a js listener on all links in the invite to check if there are more unseen notifications -->