<% if profile_owner?(@profile) %>
  <br>
  <h1>Hi, <%= @profile.fname %></h1><br>
  <h2>Welcome to your Giftr page!</h2>


  <h3>Gift Exchanges You've Organized</h3>
  <ul>
  <%= render current_user.organized_exchanges %>
  </ul>
  <%= link_to "Organize an Exchange", new_exchange_path(current_user) %>


  <h3>Gift Exchanges You're Participating In</h3>
  <ul>
  <%= render current_user.participations %>
  </ul>
  <br>


  <%=link_to "Edit Profile", edit_user_profile_path(current_user) %>&nbsp
  <%= link_to "All Exchanges",  exchanges_path%>


<% else %>
  Not authorized to view someone else's profile
<% end %>
