<% if profile_owner?(@profile) %>
    <br>
    <% if @notifications.any? %>
      <div id="notifications-box" class="well">
        <h3>New Invitations</h3>
        <% @notifications.each do |notification| %>
          <p>Exchange: <i> <%= notification.invitation.exchange.name %></i></p>
          <p><%=link_to "Accept Invitation", memberships_path(:exchange_id => "#{notification.invitation.exchange_id}"), :method => :post %></p>
          <br>
        <% end %>
      </div>
    <% end %>

    <div>
      <h1>Hi <%= @profile.fname %>!</h1>
    </div>
    
  <br>
  <%= link_to "Create New Exchange!", new_exchange_path, :class => "btn btn-primary btn-large" %>
  <div>
  <h3>Gift Exchanges You've Organized</h3>
    <ul>
      <%= render current_user.organized_exchanges %>
    </ul>
  </div>

  <h3>Gift Exchanges You're Participating In</h3>
  <ul>
  <%= render current_user.participations %>
  </ul>
  <br>

  <%= link_to "All Exchanges",  exchanges_path%>


<% else %>
  Not authorized to view someone else's profile
<% end %>
