<% if profile_owner?(@profile) %>
    <br>
    <%# if current_user.notifications.any? %>
    <div id="notifications-box" class="well">
      <h3>New Invitations</h3>
      <p>Some Exchange</p>
      <p>Some Exchange</p>
    </div>

    <div>
      <h1>Hi <%= @profile.fname %>!</h1>
    </div>
    
  <br>
  <%= link_to "Create New Exchange!", new_exchange_path, :class => "btn btn-primary btn-large" %>
  <div>
  <h3>Gift Exchanges You've Organized</h3>
    <ul>
      <%= render current_user.organized_exchanges %>
    </ul>
  </div>

  <h3>Gift Exchanges You're Participating In</h3>
  <ul>
  <%= render current_user.participations %>
  </ul>
  <br>

  <%= link_to "All Exchanges",  exchanges_path%>


<% else %>
  Not authorized to view someone else's profile
<% end %>
