<div class="giftbox gift-brick"
     data-gifturl="<%= gift_idea.url %>"
     data-giftid="<%= gift_idea.id %>"
     data-image="<%= gift_idea.picture_url %>"
     data-name="<%= gift_idea.name%>"
     data-price="<%= gift_idea.price %>" >
  <img src=<%= gift_idea.picture_url %> ><br>
  <div class="gift-info">
    <b><a style="color:white" href="<%= gift_idea.url %>" target="_blank"><%= raw(gift_idea.name) %></a></b><br>
    Price: <%= gift_idea.price %>   
  </div>
</div>