<h2>Gift Ideas For 
    <i><%= link_to @exchange.name, exchange_path(@exchange) %></i>
</h2>
<div class="clearfix">
  <div class="shopping-sidebar">
    <p><b>Drag Gift Ideas Here</b></p>
    <ul>
      <!-- drag gift ideas here or have them populate from prev-->
      <% if @gift_ideas.any? %>
        <%= render partial: "gift_ideas/gift_idea_list_item",
                   collection: @gift_ideas,
                   :as => :giftidea %>
      <% end %>
    </ul>
  </div>
  <div class="masonry-container">
      <%= render partial: "gifts/etsy_gift",
                 collection: @etsy_gifts,
                 :as => :gift %>
  </div>
</div>

<script>
  $(function(){
    /* MASONRY FUNCTIONS */
    // Must remain in view because otherwise there are refresh errors

    var $container = $('.masonry-container');

    // Load first group of images into masonry
    $container.imagesLoaded(function() {
      $container.masonry({
        itemSelector: '.gift-brick:visible',
        isAnimated: true,
        columnWidth: 35
      });
    });

    // Removes item from screen and reloads masonry
    function removeItem($masonTbl, $item){
      $masonTbl.masonry('remove', $item).masonry('reload');
    };

    /* JQUERY UI FUNCTIONS */
    // Need to remain in view to pass erb elements to javascript

    // Make gift brick dragabble 
    $(".gift-brick").draggable({
      revert: "invalid",
      containment: "document"
    });

    
    // When gift brick is dropped into sidebar, keep it there and update the gift-idea model
    $(".shopping-sidebar").droppable({
      drop: function(e, ui){
        var ondrop = GI.postGiftIdea(ui.draggable,
                                    <%= current_user.id %>,
                                    <%= @exchange.id %>,
                                    $container)

        ondrop.fail(function(response){
          console.log("Fail");
          removeItem($container, ui.draggable)
        });

        ondrop.always(function(response){
          console.log("post was attempted");
        });
      }
    });

    /* ALL OTHER JS THIS VIEW IN assets/javascripts/gifts.js*/
    GI.start(); 
  })
</script>